  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Merriweather:ital,wght@0,300;0,400;1,400&family=Montserrat:wght@300&family=Oswald:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&family=Trispace:wght@200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif ;
    font-family: 'Cinzel', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Trispace', sans-serif;font-family: 'Merriweather', serif;
}
:root {
    --backgroundmain: #0F044C;
    /* --backgroundmain:black; */
    --colormain: #EEEEEE ;
  }
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* -------------------------------------------------------------------------------------------------------------------- */

.navcontainer{
    margin: 0;
    background-color: var(--backgroundmain);
    height: 50px;
    /* position: fixed; */
}
.navcontact{
    padding:3px;
    padding-left: 50px;
    color: var(--colormain);
    padding-top: 20px;
    cursor: pointer;
    font-size: 12px;
}
.navcontact p b:hover{
    color: #F0A04B;
    transition: 0.4s ease all;

}
.navlogin{
    /* padding:3px; */
    display: flex;
    margin-left: 0;
    float: right;
    margin-top: -40px;
    padding-right: 80px;
    cursor: pointer;
    
}
.navlogin a{
    padding: 10px;
    margin-right: 20px;
    border:var(--colormain) solid ;
    border-radius: 20px;
    color: #F0A04B;
    transition: 0.4s ease all;
}
.navlogin a:hover{
    background-color: var(--colormain);
    color:var(--backgroundmain);
}
@media screen and (max-width:1024px){
    .navcontact{    
        padding-left: 10px;
    }
}
@media screen and (max-width:768px){

   .navlogin{
        position: relative;
        margin-top: -38px;
   }
   
}
@media screen and (max-width:540px){
    .navcontainer{
        height: 100px;
    }
    .navlogin{
         position: relative;
         float: left;
         margin-top: 15px;
         margin-left: 20px;
    }
    
 }

/* ----------------------------nav1--------------------------- */
nav{
    background-color: var(--backgroundmain);
    height: 80px;
    width: 100%;
    z-index: 1000;
    position: fixed;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul{
    float: right;
    margin-right: 55px;
}

nav ul li a{
    color: var(--colormain);
    font-size: 18px;
    padding: 7px 13px;
    transition: 0.4s ease all;
}

label.logo img{
    margin-left: 50px;
    width: 300px;
    margin-top: 30px;
    cursor: pointer;
}

.checkButton{
    font-size: 30px;
    color: var(--colormain);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.myCheckBox{
    display: none;
}

nav ul li a:hover{
    border-radius: 20px;
    background-color: var(--colormain);
    color: var(--backgroundmain);
}

@media screen and (max-width:1024px) {
    label.logo img{
        width: 200px;
        margin-left: 10px;
    }

    nav ul li a{
        font-size: 16px;
        padding: 5px;
        margin: 0;
    }
}

@media screen and (max-width:858px) {
    .checkButton{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--backgroundmain);
        top: 105px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
        color: var(--colormain);
    }

    .myCheckBox:checked ~ ul{
        left: 0;
    }

}
@media screen and (max-width:540px){
    label.logo img{
        margin-left: 20px;
        width: 250px;
        height: 40px;
        margin-top: 30px;
    }
    ul{
        top: 155px;
    }
    .navcontact{
        display: none;
    }
}

 /* --------------------------------------------------------------------------------------------------------- */


.bannerContainer{
    position: relative;
    background-color: var(--colormain);
    height: 100vh;
    min-width: 100%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;

}
.home::after{
    content:'';
    position: absolute;
    width: 450px;
    height: 450px;
    background-color:var(--backgroundmain);
    margin-top: 60%;
    border-radius: 40%;
    /* border-radius: 20px; */
    transform:rotate(-135deg);
    left:6rem;
    z-index: -2;
    /* box-shadow: 0 0 0  5px orange; */
    box-shadow:10px 0 30px #F0A04B;
    animation: animte 2s linear infinite alternate;
} 

@keyframes animte{
    0%{
        transform:rotate(45deg) translateZ(-40rem);
    }
} 



.bannerContent{
    position: absolute;
    top: 250px;
    left: 100px;
    text-align: center;
    color: var(--colormain);
    width: 350px;
    height: 300px;
    position:relative;
    padding: 50px;
}
.bannerContent h1 {
    line-height: 3rem;
}
.bannerContent p{
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 40px;
    /* line-height: 2rem; */
}
.bannerContent a{
    padding: 10px;
    border-radius: 20px;
    color: #F0A04B;;
    border: var(--colormain) 1px solid ;
    justify-content: space-between;
    transition: 0.4s ease all;
}
.bannerContent a:hover{
    font-size: 20px;
    background-color: var(--colormain);
    color:var(--backgroundmain);
}

 /* ---------------------------------------------------- */


.slidercontainer{
    width: 75vmin;
    position: absolute;
    transform: translate(0,-40%);
    top: 50%;
    left: 48%;
    overflow: hidden;
    /* border: 20px solid #ffffff; */
    border-radius: 8px;
    box-shadow: 10px 25px 30px var(--backgroundmain);
}
.image-container{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}
@media screen and (max-width:1024px){
    .slidercontainer{
        top: 55%;
        transform: translate(-5%,-40%);
        left: 55%;
        width: 65vmin;
    }
    .bannerContent{
        left: 60px;

    }
    .home::after{
        width: 400px;
        height: 400px;
        margin-top: 70%;
    }
}
@media screen and (max-width:1000px){
    .slidercontainer{
        width: 35vmin;
        transform: translate(5%,-40%);
        top: 50%;
    }
    .bannerContainer{
        height: 50vh;
    }
    .bannerContent{
        left: 30px;
        top: 30%;

    }
    .home::after{
        width: 400px;
        height: 400px;
        margin-top: 80%;
        left:3rem;

    }
} 
@media screen and (max-width:820px){
    .slidercontainer{
        width: 35vmin;
        transform: translate(5%,-40%);
        top: 50%;
    }
    .bannerContainer{
        height: 50vh;
    }
    .bannerContent{
        left: 0;
        top: 30%;
    }
    .bannerContent h1{
        font-size: 20px;
    }
    .bannerContent p{
        font-size: 15px;
    }
    .home::after{
        width: 350px;
        height: 350px;
        margin-top: 80%;
        left:3rem;

    }
} 
@media screen and (max-width:600px){
    .home{
        display: none;
    }
    .bannerContainer{
        height:140vh;
        /* background-color:red; */
    }
 .slidercontainer{
        top:35%;
        left: 52%;
            top:35%;
            left: 52%;
            width: 90%;
            margin: 0;
            transform: translate(-53%,-50%);
    } 
    .bannerContent{
        position: relative;
        top: 22%;
        bottom: 10px;
        left: 45px;
        border-radius: 20px;
        transform: translate(0 ,90%);
        width: 60vmin;
        background-color:var(--colormain);
        color: var(--backgroundmain);

    }
    .bannerContent h1{
        font-size: 27px;
        margin: 0;
        text-align: center;
    }
    .bannerContent p{
        text-align: center;
        font-size: 20px;
    }
    .bannerContent .join{
        left: 30px;
        display: flex;
        justify-content: space-between;
    }
    .bannerContent .join a{
        padding: 20px;
        border: var(--backgroundmain) 1px solid;
        color: var(--backgroundmain);
    }
    .bannerContent .join a:hover{
        padding: 20px;
        background-color: var(--backgroundmain);
        color: var(--colormain);
    }
    
}

 @media screen and (max-width:500px){
    .slidercontainer{
        top:35%;
        left: 52%;
            top:30%;
            left: 52%;
            width: 90%;
            margin: 0;
    }
    .bannerContent{
        height: 350px;
        top: 16%;
        left: 20px;
        color: var(--backgroundmain);

    }
     .bannerContainer{
        height:125vh;
        /* background-color: #F0A04B; */
    }
    .bannerContent .join a{
        padding-right: 10px;
    }
}
@media screen and (max-width:380px){
    .bannerContainer{
        height:155vh;
    }
    .slidercontainer{
        top:30%;
        left: 52%;
        width: 90%;
        margin: 0;
    }
    .bannerContent{
        /* color: var(--backgroundmain); */
        top: 20%;
    }
    .bannerContent h1{
        font-size: 20px;
    }
    .bannerContent p{
        font-size: 15px;
    }

    .bannerContent .join a{
        padding-right: 10px;
    }
}


/* ---------------------------------------------------------------------------------------------------------------- */


.about-us{
    background-color:var(--colormain);
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.about-us img{
    /* flex: 0 50%; */
    max-width: 40%;
    height: auto;
    margin-left: 20px; 
    border-radius: 20px;
    box-shadow: 10px 10px 30px #F0A04B;
}
.content{
    padding: 35px;
}
.content h1{
    font-size: 28px;
    margin: 15px;
}
.content p{
    font-size: 15px;
    line-height: 2;
    margin: 15px;
    width: 80%;
    margin-bottom: 30px;
}
.content a{
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    color: var(--backgroundmain);
    border:var(--backgroundmain) 1px solid;
    transition: 0.4s ease all;

}

.content a:hover{
    color: var(--colormain);
    background-color:var(--backgroundmain);
}

 @media screen and (max-width:768px){
    .about-us{
        flex-direction: column;
        margin-top:-110px;
        height: 80vh;
    }
    .about-us img{
        max-width: 50%;
        top: 20px;
        transform: translate(-20%, 60%);
    }
    .content{
        transform: translate(0, 40%);
    }
}
@media screen and (max-width:540px){
    .about-us{
        height: 140vh;
    }
    .about-us img{
        /* flex: 0 100; */
        max-width: 80%;
        height: 300px;
        margin-left: 150px;
        margin-top: 0;
    }
} 
@media screen and (max-width:380px){
    .about-us{
        height: 180vh;
    }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.vision{
    position: relative;
    width: 100%;
    height: 95vh;
    background: linear-gradient(45deg , #141E61 ,#EEEEEE );
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background: #fff;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.visioncontent{
    position: relative;
    max-width: 400px;
    text-align: center;
    right: 10%;
    top: -10%;
}
.visioncontent h2{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: var(--colormain);
    font-size: 3em;
}
.visioncontent p{
    color: var(--colormain);
    font-size: 1em;
}
.missioncontent{
    z-index: 2;
    position: relative;
    max-width: 400px;
    text-align: center;
    left: 10%;
    bottom: -20%;
    color: var(--backgroundmain);
}
.missioncontent h2{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 3em;
}
.missioncontent p{
    font-size: 1em;
}
@media screen and (max-width:1024px){
    .missioncontent{
        bottom: -15%;
    }
}
@media screen and (max-width:1000px){

    .vision{
        height: 50vh;
    }
    .vision:before{
        height: 500px;
    
    }
    .visioncontent{
        right: -2%;
        max-width: 300px;
        top: -20%;
    }
    .missioncontent{
        left: 2%;
        bottom: -20%;
    }
}
@media screen and (max-width:540px){
    .vision{
        /* margin-top: 30px; */
        height: 60vh;
    }
    .vision:before{
        height: 400px;
    }
    .visioncontent{
        text-align: left;
        right: -10%;
        top: -20%;
    }
    .visioncontent h2{
        font-size: 2em;
    }
    .visioncontent p{
        font-size: 0.8em;
    }
    .missioncontent{
        text-align: right;
        left: -2%;
        bottom: -25%;
        }
    .missioncontent h2{
        font-size: 2em;
    }
    .missioncontent p{
        /* text-align: left; */
        font-size: 0.7em;
    }

} 

/* ------------------------------------------------------------------------------------------------ */

.initiatives{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.initiatives h2{
    position: relative;
    width: 100%;
    margin: 30px;
    color: var(--backgroundmain);
    text-align: center;

}
.initiatives .box{
    cursor: pointer;
    position: relative;
    width: 350px;
    padding: 20px;
    background:#fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
    border-radius: 4px;
    margin: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.initiatives .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    z-index: 2;
    pointer-events: none;
}
.initiatives .box .icon{
    position: relative;
    width: 60px;
    height: 60px;
    color: #fff;
    box-shadow: 0 0 0 0 var(--backgroundmain);
    background: var(--backgroundmain);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    transition: 1s;
}

.initiatives .box:hover .icon{
    box-shadow: 0 0 0 400px var(--backgroundmain);
}
.initiatives .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;    
    color: var(--backgroundmain);

}
.initiatives .box:hover .content{
    color: #fff;
}
@media screen and (width:768px ){
    .initiatives .box{
     margin-left: 30%;
    }  
}
@media screen  and (width:540px) {
    .initiatives .box{
     margin-left: 20%;
    }  
}

/* ----------------------------------------------------------------------------------------------------- */

.upcomming{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.upcomming h2{
    position: relative;
    width: 100%;
    margin: 30px;
    color: var(--backgroundmain);
    text-align: center;

}
.upcomming .box{
    cursor: pointer;
    position: relative;
    width: 350px;
    padding: 20px;
    background:var(--backgroundmain);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    border-radius: 4px;
    margin: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.upcomming .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    z-index: 2;
    pointer-events: none;
}
.upcomming .box .icon{
    position: relative;
    width: 60px;
    height: 60px;
    color: var(--backgroundmain);
    box-shadow: 0 0 0 0 var(--colormain);
    background: var(--colormain);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 30px;
    font-weight: 700;
    transition: 1s;
}

.upcomming .box:hover .icon{
    box-shadow: 0 0 0 400px var(--colormain);
}
.upcomming .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;    
    color: var(--colormain);

}
.upcomming .box:hover .content{
    color: var(--backgroundmain);
}
@media screen and (width:768px ){
    .upcomming .box{
     margin-left: 30%;
    }  
}
@media screen  and (width:540px) {
    .upcomming .box{
     margin-left: 20%;
    }  
}
/* ------------------------------------------------------------------------------------------------------------------ */

.Registersection {
	position:relative;
	padding-bottom:50px;
}

.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
	background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
	opacity: 0.7;
}

  .Registersection .text{
    position: absolute;
    text-align: center;
    margin: 40px;
    /* left: 40%; */
    font-size: 35px;
    font-weight: 600; 
    color: var(--colormain);
  }
  .Registersection form{
    padding: 20px 0 0 0;
    position: relative;

  }
  .Registersection form .formcontent{
    margin:0;
    margin-top: 8%;
  }
  .Registersection form .form-row{
    display: flex;
    /* width: 50%;
    flex-wrap: wrap; */
    margin: 32px 0;
  }

  form .formcontent .form-row input, form .formcontent .form-row .option1,  form .formcontent .form-row textarea{
    width: 40%;
  }

    form .form-submit input {
    width: 10%;
    height: 50px;
    margin: 0 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    color: var(--backgroundmain);
    transition: 0.4s all ease;
  }
 form .form-submit input:hover{
    background-color: var(--backgroundmain);
    color: var(--colormain);
 } 
  form .form-row  input , .option1{
    width: 100%;
    height: 30px;
    margin: 0 20px;
    border: none;
    /* color: black; */
    border-radius: 5px;
    position: relative;
  }
  form .form-row label{
    font-size: 15px;
    margin-left: 20px;
    color: white;
  }
  form .form-row textarea{
    display: block;
    width: 90%;
    height: 100%;
    margin-top: 40px;
    margin-left: -320px;
    border-radius: 5px;
    font-size: 17px;
    /* border-bottom: 2px solid rgba(0,0,0, 0.12); */
  }
  
  @media screen and (max-width: 1000px) {
      .Registersection form .formcontent{
        margin:0;
        margin-top: 15%;
      }
      .Registersection form .form-row{
        margin: 22px 0;
      }
  }
  @media screen and (max-width: 600px) {
    .Registersection form .formcontent{
      margin:0;
      margin-top: 15%;
    }
    .Registersection form .form-row{
      margin: 22px 0;
    }
    .Registersection .text{
        margin: 20px;
        left: 25%;
        font-size: 25px;
      }
}

/* ------------------------------------------------------------------------------------------------- */

.team{
    position: relative;

}
.team h2{
    font-size: 28px;
    color: var(--backgroundmain);
    margin: 30px;
    margin-left: 45%;
    
}
.teamcontainer{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.teamcontainer .teamcard{
    margin: 40px 0;
position: relative;
width: 300px;
height: 400px;
background: rgba(255, 255, 255, 0.05);
margin: 20px;
box-shadow: 0 15px 35px rgba(0,0,0,0.2);
border-radius: 15px;
display: flex;
justify-content: center; align-items: center;
/* backdrop-filter: blur(10px); */

}
.teamcontainer .teamcard .teamcontent{
    position: relative;
display: flex;
justify-content: center;
flex-direction: column;
/* opacity: 0.9; */
transition: 0.5s;
align-items: center; 
}
.teamcontainer .teamcard:hover .teamcontent{
    /* opacity: 1; */
    transform: translateY(-20px);
}
.teamcontainer .teamcard:hover .teamcontent .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;    
    overflow: hidden;
    border: 10px solid rgba(0,0,0,.25);
}
.teamcontainer .teamcard:hover .teamcontent .imgB img{
    position: absolute;
top: 0;
Left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.teamcontainer .teamcard .teamcontent .teamcontentBx h3
{
color: var(--backgroundmain);
text-transform: uppercase;
Letter-spacing: 2px;
font-weight: 500;
font-size: 18px;
text-align: center;
margin: 20px 0 10px;
Line-height: 1.1em;
}
.teamcontainer .teamcard .teamcontent .teamcontentBx h3 span
{
font-size: 12px;
font-weight: 300;
text-transform: initial;
}

/* ------------------------------------------------------------------------------------------------- */

.gallerywrapper{
    max-width: 100%;
    padding: 30px;
    background: var(--colormain);
  }
  .gallerywrapper h2{
    font-size: 28px;
    color: var(--backgroundmain);
    margin: 50px;
    margin-left: 45%;
    
}
  .gallery{
    position: relative;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;

  }
  .gallery .image{
    padding:7px;
    margin: 10px;
    width: calc(100% / 4);
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    margin: 0 5px;
  }
  .details .title p.current-img{
    font-weight: 500;
  }
  .details .icon{
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    width: 100%;
    height: 350px;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }
  @media(max-width: 1000px){
    .gallery .image{
      width: calc(100% / 3);
    }
  }
  @media(max-width: 600px){
    .gallery .image{
      width: 100%;
      padding: 4px;
    }
  }

  /* --------------------------------------------------------------------------------------------- */
.contact-container{
    position: relative;
    background: var(--colormain);
    padding: 40px;
}
  .contact{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
  }
  .contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
  }
  .contact-map iframe{
    width: 100%;
    height: 100%;
    
  }
  .contact-content{
    width: 100%;
    height: auto;
    flex: 50%;
    /* margin-left:2px; */
  }
  .contact-content h1{
   margin: 20px 10px;
   font-size: 28px;
   color: var(--backgroundmain);
  }
  .contact-content div{
    font-size: 18px;
    margin: 0 10px;
    margin-top: 10px;

  }
  .contact-content i{
    font-size: 25px;
    /* margin-left: 60px; */
    text-align: center;
    margin: 0 10px;
    margin-top: 20px;
    color: var(--backgroundmain);
  }  
    /* ----------------------------------------------------------------------------------------------------- */ 

    .footer{
        padding: 40px 0;
        background-color: var(--backgroundmain);
    }
    .footer .footerlogo{
        position: relative;
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translate(-53%, -30%);
    }
    .footer .footersocial{
        text-align: center;
        padding-bottom: 25px;
        color: var(--colormain);
    }
    .footer .footersocial a{
        font-size: 24px;
        color: inherit;
        border: 1px solid #ccc;
        width: 40px;height: 40px;line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity : 0.6;
    }
    .footer .footersocial a:hover{
        opacity: 0.9;
    }
    .footer ul{
        text-align: center;
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    .footer ul li{
        display: inline-block;
        padding: 0 15px;
    }
    .footer ul li a{
        color: var(--colormain);
        text-decoration: none;
        opacity:0.8;
        transition: 0.4s all ease;
    }
    .footer ul li a:hover{
        opacity: 1;
    }
    .footer .copyright{
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color:#9f9999;
        margin-bottom: 30px;
    }
   